.flip-container {
  perspective: 1000px;
  transform-style: preserve-3d;
  box-shadow: 3px 1px 12px 0px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: 3px 1px 12px 0px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 3px 1px 12px 0px rgba(0, 0, 0, 0.22);
  border-radius: 4px;
}
.flip-container.active .back {
  transform: rotateY(0deg);
}
.flip-container.active .front {
  transform: rotateY(180deg);
}
.flip-container,
.front,
.back {
  width: 24vw;
  height: 24vh;
  border-radius: 4px;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(-180deg);
  background: #bbb;
  color: #000;
  text-align: center;
  line-height: 1.4em;
}

.vertical.flip-container {
  position: relative;
}
.vertical .back {
  transform: rotateX(180deg);
}
.vertical.flip-container:hover .back {
  transform: rotateX(0deg);
}
.vertical.flip-container:hover .front {
  transform: rotateX(180deg);
}
.front {
  background: #9c3;
  color: #fff;
  text-align: center;
}
h1 {
  padding-top: 25px;
  color: #fff;
}
.green {
  background-color: rgb(52, 196, 52);
}
.red {
  background-color: rgb(249, 77, 77);
}
.blue {
  background-color: rgb(34, 34, 230);
}
.orange {
  background-color: orange;
}
.yellow {
  background-color: yellow;
}
.back > svg {
  width: 100%;
  height: 100%;
}
